<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.14.3/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  
  <title>Document</title>
</head>
<body class="bg-gray-900">
  <nav class = "navigator">
    {{> nav/nav}}
  </nav>  

<main>
  {{!-- how to bring in the main body, homepage. --}}
  {{{ body }}}
</main>

  <footer class="w-full py-4 dark:bg-gray-800 min-h-min	">
    {{> footer/foots}}
</footer>

  {{!-- {{ #if loggedIn}} --}}
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="./js/script.js"></script>
  <script src="./js/login.js"></script>
  <script src="./js/logout.js"></script>
  {{!-- {{ /if }} --}}
</body>
</html>