<div class="hero min-h-screen bg-base-200" id ="mainHero">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="../public/images/baseball-clipart-12.png" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Play Ball!</h1>
        <p class="py-6">Either create a new team, or view/edit your team!</p>
        {{!-- <button 
        class="btn btn-wide newRosterBtn"
        id = "newRoster"
        >New Roster</button> --}}

        <a href="/search"
        class="btn btn-wide viewRosterBtn"
        id = "showRoster"
        >New Roster</a>
      </div>
    </div>
  </div>


</section>