  <div class = 'parentDiv flex-wrap	'>
    <div class='dropdown justify-center content-center	'>
      <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg dropbtn">By Position</button>

      <div id='positionSearch' class='dropdown-content'>
        <input
          type='text'
          placeholder='Search..'
          id='position'
          onkeyup='positionSearch()'
        />
        <ul>
          <li>OF</li>
          <li>IF</li>
          <li>P</li>
      </ul>
      </div>
    </div>
        <button onClick ="getResults()" class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">Get Results</button>
      </div>
    </div>


    <div id = "accordion">

    </div>

<script src='./js/search.js'></script>

