<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="parentDiv">
        <!-- card 1  -->
        <div class="grid-cols-auto flex flex-wrap justify-center justify-around">
            <div class="pb-5 pt-5 flip-card-container w-64">
                <div class="max-w-sm rounded overflow-hidden shadow-lg flip-card-front">
                    <img class="w-full"
                        src="https://s3-us-west-2.amazonaws.com/static.fantasydata.com/headshots/mlb/low-res/0.png">
                    <div class="px-6 py-4 flip-card-front">
                        <div class="font-bold text-xl mb-2">Yohan Crispin</div>
                        <p>MLB Team: CHC</p>
                        <p>Bats: R Throws: R</p>
                        <p>Position: P</p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                        <span
                            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#remove</span>
                    </div>
                </div>
            </div>
            <!-- card 2  -->
            <!-- <div class="grid-cols-auto flex flex-wrap justify-center justify-around"> -->
            <div class="pb-5 pt-5 flip-card-container w-64">
                <div class="max-w-sm rounded overflow-hidden shadow-lg flip-card-front">
                    <img class="w-full"
                        src="https://s3-us-west-2.amazonaws.com/static.fantasydata.com/headshots/mlb/low-res/0.png">
                    <div class="px-6 py-4 flip-card-front">
                        <div class="font-bold text-xl mb-2">Andrws Cruz</div>
                        <p>MLB Team: CHC</p>
                        <p>Bats: R Throws: R</p>
                        <p>Position: IF</p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                        <span
                            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#add</span>
                    </div>
                </div>
                <div class="flip-card-back">
                    <p>MLB Team: CHC</p>
                    <p>Bats: R Throws: R</p>
                    <p>Position: P</p>
                </div>
            </div>
            <!-- card 3 -->
            <div class="pb-5 pt-5 flip-card-container w-64">
                <div class="max-w-sm rounded overflow-hidden shadow-lg flip-card-front">
                    <img class="w-full"
                        src="https://s3-us-west-2.amazonaws.com/static.fantasydata.com/headshots/mlb/low-res/0.png">
                    <div class="px-6 py-4 flip-card-front">
                        <div class="font-bold text-xl mb-2">Andrws Cruz</div>
                        <p>MLB Team: MIA</p>
                        <p>Bats: L Throws: R</p>
                        <p>Position: SS</p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                        <span
                            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#add</span>
                    </div>
                </div>
                <div class="flip-card-back">
                    <p>MLB Team: CHC</p>
                    <p>Bats: R Throws: R</p>
                    <p>Position: P</p>
                </div>
            </div>    

                <div class="pb-5 pt-5 flip-card-container w-64">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg flip-card-front">
                        <img class="w-full"
                            src="https://s3-us-west-2.amazonaws.com/static.fantasydata.com/headshots/mlb/low-res/0.png">
                        <div class="px-6 py-4 flip-card-front">
                            <div class="font-bold text-xl mb-2">Andrws Cruz</div>
                            <p>MLB Team: CHC</p>
                            <p>Bats: R Throws: R</p>
                            <p>Position: IF</p>
                        </div>
                        <div class="px-6 pt-4 pb-2">
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#add</span>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <p>MLB Team: CHC</p>
                        <p>Bats: R Throws: R</p>
                        <p>Position: P</p>
                    </div>
                </div>

            <div class="pb-5 pt-5 flip-card-container w-64">
                <div class="max-w-sm rounded overflow-hidden shadow-lg flip-card-front">
                    <img class="w-full"
                        src="https://s3-us-west-2.amazonaws.com/static.fantasydata.com/headshots/mlb/low-res/0.png">
                    <div class="px-6 py-4 flip-card-front">
                        <div class="font-bold text-xl mb-2">Andrws Cruz</div>
                        <p>MLB Team: CHC</p>
                        <p>Bats: R Throws: R</p>
                        <p>Position: IF</p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                        <span
                            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#add</span>
                    </div>
                </div>
                <div class="flip-card-back">
                    <p>MLB Team: CHC</p>
                    <p>Bats: R Throws: R</p>
                    <p>Position: P</p>
                </div>
            </div>

            <div class="pb-5 pt-5 flip-card-container w-64">
                <div class="max-w-sm rounded overflow-hidden shadow-lg flip-card-front">
                    <img class="w-full"
                        src="https://s3-us-west-2.amazonaws.com/static.fantasydata.com/headshots/mlb/low-res/0.png">
                    <div class="px-6 py-4 flip-card-front">
                        <div class="font-bold text-xl mb-2">Andrws Cruz</div>
                        <p>MLB Team: CHC</p>
                        <p>Bats: R Throws: R</p>
                        <p>Position: IF</p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                        <span
                            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#add</span>
                    </div>
                </div>
                <div class="flip-card-back">
                    <p>MLB Team: CHC</p>
                    <p>Bats: R Throws: R</p>
                    <p>Position: P</p>
                </div>
            </div>

            <div class="pb-5 pt-5 flip-card-container w-64">
                <div class="max-w-sm rounded overflow-hidden shadow-lg flip-card-front">
                    <img class="w-full"
                        src="https://s3-us-west-2.amazonaws.com/static.fantasydata.com/headshots/mlb/low-res/0.png">
                    <div class="px-6 py-4 flip-card-front">
                        <div class="font-bold text-xl mb-2">Andrws Cruz</div>
                        <p>MLB Team: CHC</p>
                        <p>Bats: R Throws: R</p>
                        <p>Position: IF</p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                        <span
                            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#add</span>
                    </div>
                </div>
                <div class="flip-card-back">
                    <p>MLB Team: CHC</p>
                    <p>Bats: R Throws: R</p>
                    <p>Position: P</p>
                </div>
            </div>
        </div>
             </div>
        <div class="pb-5 pt-5">
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <img class="w-full" src="../images/pitch.catch.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Player Name</div>
                    <p class="text-gray-700 text-base">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                        perferendis
                        eaque, exercitationem praesentium nihil.
                    </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
                </div>
            </div>
        </div>

        <div class="pb-5 pt-5">
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <img class="w-full" src="../images/pitch.catch.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
                    <p class="text-gray-700 text-base">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                        perferendis
                        eaque, exercitationem praesentium nihil.
                    </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
                </div>
            </div>
        </div>

        <div class="pb-5 pt-5">
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <img class="w-full" src="../images/pitch.catch.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
                    <p class="text-gray-700 text-base">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                        perferendis
                        eaque, exercitationem praesentium nihil.
                    </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
                </div>
            </div>
        </div>

        <div class="pb-5 pt-5">
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <img class="w-full" src="../images/pitch.catch.png" alt="Sunset in the mountains">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
                <p class="text-gray-700 text-base">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                    perferendis
                    eaque, exercitationem praesentium nihil.
                </p>
            </div>
            <div class="px-6 pt-4 pb-2">
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
            </div>
        </div>
    </div>
    </div>
    </div> 

</body>

</html>