





@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.purple');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
  /* ... */
}

.rosterCard {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.parentDiv {
  width: 100vw;
  height: 100vh;
  padding: 1.25rem;
}

.flip-card-container{
    perspective: 2000px;
}
.flip-card {
    transition: transform 1.25s;
    transform-style: preserve-3d;
}

.flip-card-container:hover .flip-card {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);

}


footer {
  bottom: 0;
  z-index: 1000;
}