<form id="signup-form">
  <label>Username</label>
    <input type="text" id ="username-signup"><br>
  <label>Email:</label>
  <input type="email" id ="email-signup"><br>
  <label>Password:</label>
  <input type="password" id ="password-signup">
    <button type = "submit">Sign Up</button>  
</form>
